@font-face {
  font-family: 'Gilroy-Black';
  src: url('./fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.part1 {
  background-image: url('Rectangle 1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 40%;
  min-height: 58vw;
  padding-bottom: 2%;
}

.container1 {
  position: absolute;
  bottom: 10%;
  left: 9%;
  width: 45%;
  height: 40%;
  color: #FFFFFF;
  margin-bottom : 8%;
}

.container1 h1 {
  font-family: 'Gilroy-Black', sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 128%;
}

.container1 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2vw;
  color: #FFFFFF;
  margin-top: 5%;
  width: 80%;
  line-height: 128%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn {
  margin-top: 5%;
  padding: 2.5% 8%;
  border: none;
  background-color: #ffffff;
  color: #282c34;
  cursor: pointer;
  font-size: 1.2vw;
  border-radius: 55px;
}

.container2 {
  position: absolute;
  left: 9%;
  top: 2%;
  width: 30%;
  height: 45%;
  border-radius: 50%;
  
}

.container3 {
  position: absolute;
  left: 31%;
  top: 6%;
  width: 60%;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size : 1.2vw;
  display: flex;
  justify-content: space-between;
}

.container3 nav a {
  margin-left: 80px;
  text-decoration: none;
  color: inherit;
}

.container4 {
  position: absolute;
  right: -25%;
  top: 2%;
  width: 40%;
  height: 10%;
}

@media screen and (max-width: 768px) {
  .container3 nav a {
    margin-left: 20px;
  }
}



 /*PART 1 HAS BEEN FINISHED */






 .part2 {
  margin-top : 10%;
  width: 100%;
  height: 518px;
  display: flex;
  flex-direction: row;
  padding: 2% 5%;
  box-sizing: border-box;
}

.pt2_container1 {
  width: 45%;
  display: flex;
  flex-direction: row;
  
  position: relative;
}

.photo1 {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
}

.photo2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 28%;
  left: 50%;
}

.pt2_container2 {
  margin-top : 1%;
  width: 50%;
  height: 10%;
  padding-left: 15%;
}

.pt2_container2 h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #000000;
  margin-bottom: 2%;
  opacity: 50%;
}

.pt2_container2 h1 {
  font-family: 'Gilroy-Black', sans-serif;
  font-size: 46px;
  font-weight: 400;
  color: #232323;
  margin-bottom: 2%;
}

.pt2_container2 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #333333;
  margin-bottom: 2%;
  line-height: 1.5;
}
.pt2_container2 .btn{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background-color: #232323;
  color : #FFFFFF;
  margin-bottom: 2%;
  
}

@media screen and (max-width: 830px) {
  .part2 {
    margin-top : 10%;
    flex-direction: row;
    height: auto;
    
  }

  .pt2_container1 {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .photo1 {
    width: 55%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .photo2 {
    width: 40%;
    height: 44%;
    position: absolute;
    top: 23%;
    left: 35%;
  }

  .pt2_container2 {
    width: 100%;
    margin-bottom: 10%;
    padding: 2% 0;
  }

  .pt2_container2 h2 {
    font-size: 1vw;
  }

  .pt2_container2 h1 {
    font-size: 4vw;
  }

  .pt2_container2 p {
    font-size: 1vw;
  }
  .pt2_container2 .btn{
    font-family: 'Quicksand';
    font-size: 1vw;
    background-color: #232323;
    color : #FFFFFF;
    margin-bottom: 2%;
    
  }
}