@font-face {
  font-family: 'Gilroy-Black';
  src: url('./fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.part1 {
  background-image: url('Rectangle 1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 40%;
  min-height: 58vw;
  padding-bottom: 2%;
}

.container1 {
  position: absolute;
  bottom: 10%;
  left: 9%;
  width: 45%;
  height: 40%;
  color: #FFFFFF;
  margin-bottom : 8%;
}

.container1 h1 {
  font-family: 'Gilroy-Black', sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 128%;
}

.container1 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2vw;
  color: #FFFFFF;
  margin-top: 5%;
  width: 80%;
  line-height: 128%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn {
  margin-top: 5%;
  padding: 2.5% 8%;
  border: none;
  background-color: #ffffff;
  color: #282c34;
  cursor: pointer;
  font-size: 1.2vw;
  border-radius: 55px;
}

.container2 {
  position: absolute;
  left: 9%;
  top: 2%;
  width: 30%;
  height: 45%;
  border-radius: 50%;
  
}

.container3 {
  position: absolute;
  left: 31%;
  top: 6%;
  width: 60%;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size : 1.2vw;
  display: flex;
  justify-content: space-between;
}

.container3 nav a {
  margin-left: 80px;
  text-decoration: none;
  color: inherit;
}

.container4 {
  position: absolute;
  right: -25%;
  top: 2%;
  width: 40%;
  height: 10%;
}

@media screen and (max-width: 768px) {
  .container3 nav a {
    margin-left: 20px;
  }
}



 /*PART 1 HAS BEEN FINISHED */






 .part2 {
  margin-top : 10%;
  width: 100%;
  height: 518px;
  display: flex;
  flex-direction: row;
  padding: 2% 5%;
  box-sizing: border-box;
}

.pt2_container1 {
  width: 45%;
  display: flex;
  flex-direction: row;
  
  position: relative;
}

.photo1 {
  width: 80%;
  height: 85%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.photo2 {
  width: 60%;
  height: 65%;
  position: absolute;
  top: 28%;
  left: 50%;
}

.pt2_container2 {
  margin-top : 1%;
  width: 40%;
  height: 10%;
  padding-left: 8%;
}

.pt2_container2 h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #000000;
  margin-bottom: 2%;
  opacity: 50%;
}

.pt2_container2 h1 {
  font-family: 'Gilroy-Black', sans-serif;
  font-size: 46px;
  font-weight: 400;
  color: #232323;
  margin-bottom: 2%;
}

.pt2_container2 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #333333;
  margin-bottom: 2%;
  line-height: 1.5;
}
.pt2_container2 .btn{
  font-family: 'Quicksand';
  
  background-color: #232323;
  color : #FFFFFF;
  margin-bottom: 2%;
  
}

@media screen and (max-width: 830px) {
  .part2 {
    margin-top : 10%;
    flex-direction: row;
    height: auto;
    padding: -50%;
  }

  .pt2_container1 {
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-left: 5%;
  }

  .photo1 {
    width: 75%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 9%;
  }
  
  .photo2 {
    width: 60%;
    height: 52%;
    position: absolute;
    top: 28%;
    left: 54%;
  }

  .pt2_container2 {
    width: 100%;
    margin-bottom: 10%;
    padding-right: 5%;
    
  }

  .pt2_container2 h2 {
    font-size: 1vw;
  }

  .pt2_container2 h1 {
    font-size: 4vw;
  }

  .pt2_container2 p {
    font-size: 1vw;
  }
  .pt2_container2 .btn{
    font-family: 'Quicksand';
    font-size: 0.8vw;
    background-color: #232323;
    color : #FFFFFF;
    margin-bottom: 2%;
    
  }
}

/* PART 2 HAS BEEN FINISHED */
.etc-text {
  text-align: center;
}

.etc-text h1{
  margin-bottom: -1%;
  font-family: "Quicksand";
  font-size: 8px;
  opacity: 50%;
}

.etc-text h2{
  font-family: "Gilory-Black";
  font-size: 18px;
  color : #232323
  
}

.part3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 5%;
  box-sizing: border-box;
}

.pt3_container1,
.pt3_container2,
.pt3_container3 {
  width: 31%;
  text-align: center;
}


.pt3_container2 {
  background-color: #F7F7F7;
  border-radius: 5%;
  box-shadow: 0px 5px 10px #D9D9D9;
}

.pt3_photo1,
.pt3_photo2,
.pt3_photo3 {
  width: 100%;
  height: auto;
}

.pt3_container1 h1,
.pt3_container2 h1,
.pt3_container3 h1 {
  font-family : 'Gilroy-Black';
  font-size: 24px;
  color: #232323;
  margin: 15px 0;
}

.pt3_container1 p,
.pt3_container2 p,
.pt3_container3 p {
  font-family: 'Quicksand';
  font-size: 13px;
  color: #333333;
}

@media screen and (max-width: 840px) {
  .part3 {
    flex-direction: row;
    align-items: center;
  }

  .pt3_container1,
  .pt3_container2,
  .pt3_container3 {
    padding: 3%;
    width: 100%;
    
  }

  .pt3_container1 h1,
  .pt3_container2 h1,
  .pt3_container3 h1 {
    text-align: left;
    margin-top: 5%;
    font-family: "Gilory-Black";
    font-size: 2vw;
    margin-bottom: 2%;
  }
  
  .pt3_container1 p,
  .pt3_container2 p,
  .pt3_container3 p {
    text-align: left;
    font-family: "Quicksand";
    font-size: 1.3vw;
    line-height: 168%;
  }
}

/* PART 3 HAS BEEN FINISHED */
.tick-icon::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M20 6l-11 11-5-5 1.5-1.5 3.5 3.5 9.5-9.5z"/></svg>');
  background-size: cover;
  vertical-align: middle;
  margin-right: 8px;
}




.part4 {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 5%;
  box-sizing: border-box;
  background-color: #F7F7F7; ;
}

.pt4_container1 {
  padding: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pt4_container1 h1{
  font-family: "Quicksand";
  font-size: 8px;
  opacity: 50%;
  margin-bottom: -5%;
  color: #000;
  opacity: 25%;
}

.pt4_container1 h2{
  font-family: "Gilory-Black";
  width: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pt4_container1 p {
  color: #333;
  margin-top: -5%;
  font-family: "Quicksand";
  font-size: 9px;
  width: 100%;
  line-height: 18px;

}

.pt4_container2 {
  padding: 3%;
  width: 100%;

}

.pt4_photo1 {
  width: 100%;
  height: auto;
}

.pt4_inside_container1 {
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  
  box-sizing: border-box;

}

.pt4_inside_container1 .rectangle2 {
  padding-left:12%;
}
.pt4_inside_container1 .rectangle1 h3,
.pt4_inside_container1 .rectangle2 h3{
  font-family: "Quicksand";
  color:#333;
  font-size: 13px;
}
.pt4_inside_container1 .rectangle1 p,
.pt4_inside_container1 .rectangle2 p{
  font-family: "Quicksand";
  color:#333;
  font-size: 7px;
}

.rect1_inner {
  display: flex;
  flex-direction: row;
}

.rect2_inner {
  display: flex;
  flex-direction: row;

}


.svgContainer {
  position: relative; /* Set the position property to relative */
  align-self: center;
  padding-right: 8%
}

.svg1 {
  position: absolute; /* Set the position property to absolute */
  left: -3.5px; /* Set the top position to 0 */
  bottom: -12.5px;
 
}

.svg2 {
  position: absolute; /* Set the position property to absolute */
 
  bottom: -10px;
  left: -1px;

 
}
.rect1_inner h3 {
  padding-left: 8%;
}
.rect2_inner h3 {
  padding-left: 8%;
}

.mask {
  position: absolute; /* Set the position property to absolute */
  width: 15px;
  height: 15px;
  bottom: -10px;
  left: -1.2px;
}